.enemy-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  left: 50%;
  right: 50%;
  position: absolute;
}

.enemy-stats-container {
  display: flex;
  flex-direction: column;
}

.current-enemy-image {
  width: 15vw;
}
